body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.hidden {
  display: none !important;
}

#home-page {
  width: 1100px;
  min-height: 700px;
  margin: auto;
  background: lightgrey;
}

#header-container {
  background-color: darkslategrey;
  height: 50px;
  width: 100%;
}

#header-wrapper {
  width: 1100px;
  margin: auto;
}

#header-container #header-wrapper h1 {
  color: white;
  line-height: 50px;
  display: inline-block;
}

#header-navigation {
  display: inline-block;
  float: right;
  position: relative;
}

#header-search {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

#header-search-button {
  position: absolute;
  background-color: lightgray;
  border: none;
  height: 100%;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

input#header-search-field {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 4px;
  border: none;
  padding-left: 27px;
}

#header-navigation #cart,
#header-navigation #nav-menu {
  height: 100%;
  line-height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
  display: inline-block;
  color: black;
  cursor: pointer;
}

#header-navigation #cart:hover,
#header-navigation #nav-menu:hover {
  background-color: #E4E4E4;
}

#header-navigation #cart {
  margin-right: 20px;
}

#header-navigation #cart #cart-content-container {
  position: absolute;
  width: 320px;
  min-height: 100px;
  right: 0;
  background-color: white;
  z-index: 10;
}

#cart-content-container li.item {
  display: block;
  width: auto;
  height: 90px;
  margin: 10px;
}

#cart-content-container span.item-link {
  width: 100%;
  height: 100%;
  display: block;
}

#cart-content-container h3.item-name {
  line-height: 90px;
  max-width: 60%;
  margin-left: 10px;
}

#cart-content-container .item-price {
  position: absolute;
  line-height: 90px;
  top: 0;
  right: 10px;
  font-size: 18px;
  font-weight: normal;
}

#cart-content-container .item-remove-cart {
  position: absolute;
  top: 0;
  right: 2px;
  line-height: 20px;
  font-size: 20px;
}

#cart-content-container .items-list {
  width: 100%;
}

.items-list-container {
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.items-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 960px;
}

.item {
  display: inline-block;
  width: 300px;
  height: 180px;
  text-align: left;
  margin: 0 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid darkgray;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.quick-view-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}

#home-page .item-add-cart,
#home-page .item-link {
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  bottom: 12px;
  right: 10px;
  font-size: 14px;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  width: 120px;
  text-align: center;
}

#home-page .item-link {
  bottom: 47px;
}

#home-page .item-add-cart:hover,
#home-page .item-link:hover {
  background-color: #E4E4E4;
}

h3.item-name {
  font-weight: lighter;
  font-size: 18px;
}

.item-description {
  position: relative;
  font-weight: lighter;
  font-size: 15px;
  color: #949494;
}

.item-image-container {
  width: 145px;
  height: 105px;
  display: inline-block;
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: 3px;
  margin-top: 10px;
  text-align: center;
}

.item-image-container > img {
  max-width: 100%;
  max-height: 100%;
}

.item-price {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 55px;
  right: 10px;
  text-align: center;
  width: 120px;
}

.item-price > .item-price-currency {
  display: block;
  font-size: 15px;
  font-weight: lighter;
}

.fullscreen-popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}

#item-preview-item-container {
  width: 25%;
  height: 300px;
  background: white;
  margin: auto;
  padding: 30px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

#item-preview-item-container .item-lower-elements {
  position: relative;
  margin-top: 25px;
  text-align: center;
}

#item-preview-item-container .item-price {
  position: relative;
  bottom: auto;
  right: auto;
  top: auto;
  vertical-align: top;
  width: auto;
}

#item-preview-item-container .item-add-cart {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  display: block;
  margin: 15px auto;
}

#item-preview-item-container .item-name {
  position: relative;
}

#item-preview-item-container .item-image-container {
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 0;
}

#item-preview-item-container .item-description {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

#item-preview-item-container .item-link {
  bottom: 30px;
  right: 30px;
  left: auto;
}

#item-preview-item-container .close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  cursor: pointer;
}
